/* style.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
}

h1 {
    font-size: 5em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav ul li {
    margin: 0 15px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

section {
    text-align: center;
    margin-top: 20px;
    display: flex;      /* 讓 section 變成 Flex 容器 */
    flex-wrap: wrap;    /* 換行 */
    justify-content: space-around;  /* 讓卡片居中 */
}

.food-card {
    flex: 0 0 calc(33.33% - 20px);  /* 設定每個卡片的寬度，三個為一排，間距 20px */
    margin: 10px;  /* 卡片之間的間距 */
}

.food-card img {
    width: 100%;   /* 讓圖片寬度滿滿卡片的寬度 */
    height: 250px; /* 設定圖片高度，可以根據需求調整 */
    object-fit: cover; /* 保持原始比例並裁剪，使圖片填滿容器 */
}